<form class="example-form" >
    <!--<input type="text"  [(ngModel)]="getQuestion" name="getQuestion" placeholder="type your question here" style="position: absolute;right: 17%;top: 25px;width: 30%;height: 7.8%;">-->
    <!--<button type="button"  class="btn" aria-label="Left Align" (click)="postQuestion(typeQuestion)" 
        style="position: absolute;right: 15px; top: 25px;width: 15%;background-color: #b92b27;text-decoration-color: white;">
      Post Question
    </button>-->
    
    <h5>Got a Question ?</h5>
  <mat-form-field class="example-full-width" style="left: 40px;"> 
    <input type="search" placeholder="search question here" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event.option.id)">
      <mat-option *ngFor="let option of questions" [value]="option.Question" [id] = "option._id">
        {{option.Question}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>


  
    <!--<li>
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="What's your name?" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </li>-->
      <button mat-raised-button (click)="openDialog()" style="position: absolute;right: 15px; 
      top: 25px;width: 45%;background-color: #b92b27;text-decoration-color: white;">Post Question</button>

    <!--
      <li *ngIf="animal">
      You chose: <i>{{animal}}</i>
    </li>
    -->
  

  
</form> 