#greenclr{
    background: #97c83e;
    text-align: center;
    width: 30px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
  }

  #redclr{
    background: #ce0b0b;
    text-align: center;
    width: 30px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
  }

  .roundcountRed{
    background: #af1717;
    text-align: center;
    width: 30px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
  }

  #qtdiv{
    border-bottom: 0;
    //background-color: #fff!important;
    border: 1px solid #1d1c1c;
    border-bottom-color:#1d1c1c;
    border-radius: 4px!important;
    margin-bottom: 8px!important;
    background-color: #fafafa;
    color: #666;
  }